main .project {
    text-transform: uppercase;
    margin-top: 300px;
    width: 300px;
    position: relative;
}

main .project img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* main .project img:hover {
    display: block;
} */

main .project .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgba(255,255,255, .1);
}