* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #2e354a;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
}

.timeline::after{
    content: '';
    position: absolute;
    width: 3px;
    height: 100%;
    background-color: #fff;
    top: 0%;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 6s linear forwards;
}

@keyframes moveline{
    0%{
        height: 0;
    }
    100%{
        height: 100%;
    }
}

.container {
    padding: 10px 50px;
    position: relative;
    width: 50%;
    /* background-color: rgba(0, 0, 0, .3); */
}

.container img{
    position: absolute;
    width: 40px;
    border-radius: 50%;
    right: -20px;
    top: 32px;
    z-index: 10;
}

.container__left {
    left: 0;
}

.container__right {
    left: 50%;
}

.container__right img{
    left: -20px;
    top: 32px;
}

.textbox {
    padding: 20px 30px;
    background-color: #ddd;
    position: relative;
    border-radius: 6px;
    font-size: 15px; 
}

.textbox h2{
    font-weight: 600;
}

.textbox small{
    display: inline-block;
    margin-bottom: 15px;
}

.left-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #ddd;
    right: -15px;
}

.right-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #ddd;
    left: -15px;
}