/* body {
    display: grid;
    grid: repeat(3, max-content) / 20em auto 15em;
}

header, footer {
    grid-column: 1 / 4;
} */

html, body{
    height: 100%;
    margin: 0 auto;
}
body{
    display: grid;
    grid: min-content auto min-content / 1fr minmax(max-content, 50%) 1fr;
}

header, footer{
    grid-column-start: 1;
    grid-column-end: 4;
}