.container {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
}

button {
  border-radius: 6px;
  cursor: pointer;
  /* font-weight: bold; */
  padding: 5px 10px;
  margin-top: 1rem;
}