body {
    background-color: #DBECFA;
}

.box {
    border: 1px solid steelblue;
    width: 250px;
    height: 250px;
    background-image: url(./images/peacock.png);
    background-color: aquamarine;
    /* background-size: cover; */
}
