/* 
There are four different combinators in CSS:

descendant selector (space)
child selector (>)
adjacent sibling selector (+)
general sibling selector (~)

source: https://www.w3schools.com/css/css_combinators.asp
*/

body {
  font-size: 2rem;
  font-weight: 700;
}

body .parent-list {
  background-color: #f0f0f0;
}

.child-list > .list-item{
  background-color: #e0e0e0;
  color: #777777;
}
