@import url("https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@400;700&display=swap");

* {
  margin: 5px;
  padding: 5px;
  box-sizing: border-box;
}

body {
  font-family: "Playpen Sans", cursive;
  text-align: center;
}

form {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
