/* Write your code here: */
h1,h2 {
    color: blueviolet;
}

p {
    color: black;
}

.list {
    color: blue;
}

.list .done {
    color: green;
}

.box>.done {
    color: firebrick;
}

ul p {
    color: black;
    font-size: 10px;
}