/* Write your code here: */
h1,
h2 {
    color: blueviolet;
}

p {
    color: black;
}

.list {
    color: blue;
}

/* chaining */
li.done {
    color: seagreen;
}

.box>p {
    color: firebrick;
}

/* complex chaining */
ul>p.done {
    font-size: 0.625rem;
}