* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    min-height: 100%;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: start;
}

.container {
    width: 100%;
    padding: 35px 10%;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.title {
    font-family: 'Helvetica', sans-serif;
    color: #11a372;
    padding: 0 0 20px 30px;
}

.content {
    padding: 0px 30px;
    border-left: 2px solid #bababa;
}

.box {
    position: relative;
    padding: 20px;
    border: 1px solid #eaeaea;
    background-color: #fff;
    transition: all 0.4s;
    margin-bottom: 20px;
}

.box:hover{
    box-shadow: 0px 3px 12px 0px #ccc;
    border: 1px solid  transparent;
}

.box::before{
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    right: 100%;
    transform: translateX(-75%);
    top:0;
    background-color: #11a372;
    border: 5px solid white;
    margin-top: 0px;
}

.box h4{
    position: relative;
    color: #11a372;
}

.box h3{
    font-size: 1.188rem;
    padding: 10px 0px 6px;
    font-family: 'Helvetica', sans-serif;
    color: #444;
}

.box p{
    line-height: 1.5;
    color: #666666;
    font-size: 1.063rem;
} 

@media(max-width: 768px){
    .row{
        grid-template-columns: 1fr;
    }
    .col:nth-child(2){
        margin-top: 30px;
    }
}