/*----------------------*\
 * #styles.css
\*----------------------*/


/**
  * copyright 2022 @codewithsadee
  */



/*----------------------*\
 * #CUSTOM PROPERTY
\*----------------------*/

:root{
  /**
    * colors
    */
  --white: hsl(0,0%,100%);
  --black: hsl(0,0%,0%);
  --amaranth: hsl(349,69%,53%);
  --xiketic-1: hsl(272,55%,6%);
  --xiketic-2: hsl(256,100%,3%);
  --nsu-purple: hsl(270,55%,31%);
  --silver-sand: hsl(220,10%,76%);
  --purple-violet: hsl(226,55%,15%);
  --battleship-gray: hsl(0,0%,70%);
  --light-periwinkle: hsl(240, 30%, 83%);
  --maximum-blue-purple: hsl(231,50%,77%);
  
  /**
    * typography
    */
  --ff-poppines: "Poppins", sans-serif;

  --fs-1: 36px;
  --fs-2: 30px;
  --fs-3: 22px;
  --fs-4: 18px;
  --fs-5: 16px;
  --fs-6: 14px;

  --fw-500: 500;
  --fw-600: 600;

  /**
    * transition
    */
  --transition: 0.15s ease-in-out;

}

/*----------------------*\
 * #RESET
\*----------------------*/

*,*::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {list-style: none;}
a {text-decoration: none;}

img, span, button, a, ion-icon {display: block;}

button{
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

html{
  font-family: var(--ff-poppines);
  color: var(--white);
  scroll-behavior: smooth;
}

body{overflow-x: hidden;}

::-webkit-scrollbar{width:10px;}
::-webkit-scrollbar-track{background: var(--xiketic-1);}
::-webkit-scrollbar-thumb{
  background: var(--nsu-purple);
  border-radius: 10px;
}

::-webkit-scrollbar-button{
  height: 10px;
  background: var(--xiketic-1);
}

/*----------------------*\
 * #REUSED STYLE
\*----------------------*/
.container{
  padding: 30px 15px;
  padding-right: 8px;
}

.btn-primary{
  background: var(--amaranth);
  color: var(--white);
  font-size: var(--fs-6);
  font-weight: var(--fw-500);
  text-transform: capitalize;
  padding: 12px 40px;
  border-radius: 25px;
}

.btn-primary:hover{ --amaranth: hsl(349, 69%,43%)}

/*----------------------*\
 * #HEADER
\*----------------------*/

header {
  position: relative;
  background: var(--xiketic-1);
}

header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar{
  background: var(--purple-violet);
  position: fixed;
  bottom: 100%;
  left: 0;
  width: 100%;
  padding: 20px 10px;
  box-shadow: 8 2px 5px hsla(0, 0%, 0%, 0.5);
  visibility: hidden;
  transition: var(--transition);
  z-index: 1;
}

.navbar.active{
  transform: translateY(100%);
  visibility: visible;
}

.navbar-link{
  width: max-content;
  color: var(--white);
  font-size: var(--fs-6);
  font-weight: var(--fw-500);
  padding: 10px 20px;
  border-radius: 8px;
}

.navbar-link:hover{ background: var(--nsu-purple);}

.navbar.btn-primary {display: none;}
 
.nav-open-btn, 
.nav-close-btn {
  background: var(--white);
  color: var(--black);
  font-size: 30px;
  padding: 3px;
  border-radius: 8px;
}

.nav-close-btn {
  position: absolute;
  top: 20px;
  right: 15px;
}
