/*----------------------*\
 * #styles.css
\*----------------------*/


/**
  * copyright 2022 @codewithsadee
  */



/*----------------------*\
 * #CUSTOM PROPERTY
\*----------------------*/

:root{
  /**
    * colors
    */
  --white: hsl(0,0%,100%);
  --black: hsl(0,0%,0%);
  --amaranth: hsl(349,69%,53%);
  --xiketic-1: hsl(272,55%,6%);
  --xiketic-2: hsl(256,100%,3%);
  --nsu-purple: hsl(270,55%,31%);
  --silver-sand: hsl(220,10%,76%);
  --purple-violet: hsl(226,55%,15%);
  --battleship-gray: hsl(0,0%,70%);
  --light-periwinkle: hsl(240, 30%, 83%);
  --maximum-blue-purple: hsl(231,50%,77%);
  
  /**
    * typography
    */
  --ff-poppines: "Poppins", sans-serif;

  --fs-1: 36px;
  --fs-2: 30px;
  --fs-3: 22px;
  --fs-4: 18px;
  --fs-5: 16px;
  --fs-6: 14px;

  --fw-500: 500;
  --fw-600: 600;

  /**
    * transition
    */
  --transition: 0.15s ease-in-out;

}

/*----------------------*\
 * #RESET
\*----------------------*/

*,*::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {list-style: none;}
a {text-decoration: none;}

img, span, button, a, ion-icon {display: block;}

button{
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

html{
  font-family: var(--ff-poppines);
  color: var(--white);
  scroll-behavior: smooth;
}

body{overflow-x: hidden;}

::-webkit-scrollbar{width:10px;}
::-webkit-scrollbar-track{background: var(--xiketic-1);}
::-webkit-scrollbar-thumb{
  background: var(--nsu-purple);
  border-radius: 10px;
}

::-webkit-scrollbar-button{
  height: 10px;
  background: var(--xiketic-1);
}

/*----------------------*\
 * #REUSED STYLE
\*----------------------*/
