body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
  background-color: #0c1625e6;
  overflow: hidden;
}


.spinner {
  width: 250px;
  height: 250px;
  background: conic-gradient(cyan, yellow, red, orange, green, blue, indigo, cyan);
  border-radius: 50%;
  border: 5px solid white;
  box-shadow: 0px 0px 110px -50px black;
  position: relative;
  animation: spin;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.spinner::after {
  content: "";
  background-color: rgb(12, 23, 39);
  width: 60%;
  height: 60%;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid white;
  box-shadow: 0px 0px 110px -70px black;
}

@keyframes spin {
  0%{
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}