*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #c7ecee;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.select-menu{
    width: 300px;
    cursor: pointer;
    position: relative;
}

.select{
    background-color: #201e1e;
    padding: 20px;
    color: #fff;
    font-weight: 500;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}