/* Write your code here: */

body h1, h2{
    color: blueviolet;
}

div > .done {
    color: firebrick;
}

.done {
    color: seagreen;
}

.done ul, li{
    color: blue;
}

ul > p[class="done"]{
    color: black;
    font-size: .7em;
}
