body {
  background: #5BEA9E;
  background: radial-gradient(at left top, #5BEA9E, #516DDD, hsl(200, 66%, 10%) 85%);
  overflow: hidden;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.btn {
  padding: 10px 20px;
  display: inline-block;
  margin-top: 30px;
  color: whitesmoke;
  background-color: #233C6D;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  border-radius: 6px;
  box-shadow: 3px 3px 0px whitesmoke;
  border: 1px solid whitesmoke;
  transition: background-color 300ms, color 600ms;
}

.btn:hover {
  display: inline-block;
  background-color: hsl(200, 66%, 10%);
  color:aquamarine;
  
}

.btn:active {
  translate:  3px 3px;
  transition: translate 3s all;
  box-shadow: 0px 0px 0px whitesmoke;
}