:root {
    /* texts */
    --white-text: #fdf9fd;
    --lesser-white-text: #d8d7d8;
    --black-text: #131313;
    --muted-text: #ffffff4d;
    --gray-text: #bdbdbd;
    --highlight-color: #449DF5;

    /* alerts */
    --new-color: #10b981;
    --archived-color: #fdf9fd;

    /* scroll bar */
    --lighter-color-scollbar: #A9A9A9;
    --darker-color-scrollbar: #717171;

    /* backgrounds */
    --white-background: #fdf9fd;
    --white-background-darker: #4d4d4d;
    --dark-background: #131313;
    --darker-background: #0b0b0b;
    --gray-background: #222222;
    --gray-border: #333;

    /* font-family */
    --play2start-font: "Press Start 2P", sans-serif;
    --mukta-font: 'Mukta', sans-serif;

    /* border radius */
    --border-radius: 3px;
}

/* custom texnew section-left-margt selection */
::selection {
    background-color: var(--highlight-color);
    /* Background color of the selection */
    color: black;
    /* Text color of the selection */
}

/* scrollbar */
::-webkit-scrollbar {
    width: 8.5px;
    transition: all .2s;
}

::-webkit-scrollbar-track {
    background: var(--dark-background);
}

::-webkit-scrollbar-thumb {
    background: var(--lighter-color-scollbar);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:active {
    background-color: var(--darker-color-scrollbar);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--darker-color-scrollbar);
}

::-webkit-scrollbar-button {
    height: 10px;
    background: var(--dark-background);
}

/* helper class */
.container {
    max-width: 1450px;
    margin: 0 20%;
}

.container-large {
    max-width: 1450px;
    margin: 0 20%;
}

/* font sizes, margins, font-families, colors */
h1 {
    font-size: 2.5rem;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    font-family: var(--play2start-font);
    letter-spacing: 1px;
}

h2 {
    font-size: 1.35rem;
    margin-top: 2.5em;
    margin-bottom: 1.5em;
    font-family: var(--play2start-font);
    letter-spacing: 1px;
}

main .portfolio .new,
main .portfolio .archived {
    font-size: 1.5rem;
    margin-top: .1em;
    margin-bottom: .1em;
    font-family: var(--mukta-font);
    letter-spacing: 1px;
    color: var(--new-color);
    font-weight: 700;
}

main .portfolio .archived {
    color: var(--archived-color);
}

body {
    font-size: 1.25rem;
}

header .logo-name {
    font-size: 1.125rem;
}

header .nav-social-links span {
    font-size: 1rem;
    color: var(--muted-text);
    font-family: var(--mukta-font);
}

main .fun-facts ul,
main .portfolio p {
    color: var(--gray-text);
}

main .contact button {
    font-size: 1.1rem;
    font-weight: 700;
}

/* --> section end <-- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Inter, sans-serif;
    background-color: var(--dark-background);
    color: var(--white-text);
}

header {
    background-color: var(--dark-background);
}

header nav {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

header .logo-name {
    color: var(--white-text);
    text-decoration: none;
}

header .logo-greater-than {
    font-size: .83rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

header .logo-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .2rem;
}

header .logo-cursor {
    display: inline-block;
    width: 10px;
    height: 1.25em;
    background: var(--highlight-color);
    margin-left: 5px;
    border-radius: 1px;
    animation: cursor 1.2s infinite;
}

@keyframes cursor {
    50% {
        background-color: transparent;
    }
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--play2start-font);
}

header nav section {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

header .nav-social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* LVHA */
header .nav-social-links a {
    font-size: .95rem;
    color: var(--white-text);
    transition: all .2s;
}

header .nav-social-links a:visited {
    font-size: 1.125rem;
    color: var(--white-text);
}

header .nav-social-links a:hover {
    color: var(--gray-text);
}

header .nav-social-links a:active {
    color: var(--gray-text);
}

header .nav-social-links .fa-message {
    font-size: 1.5rem;
}

main .hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    font-family: var(--play2start-font);
    margin: 25px auto;
}

main .hero-section img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border: 1px solid var(--gray-border);
    /* border-radius: var(--border-radius); */
    border-radius: 50%;
}

main .hero-section h1 span {
    color: var(--highlight-color);
}

main .fun-facts ul,
main .portfolio ul,
main .section-left-margin {
    list-style: none;
    margin-left: 1rem;
}

main .portfolio p {
    display: inline-block;
}

main .portfolio input {
    display: block;
    margin: 20px 0 0;
    width: 160px;
    box-sizing: border-box;
    padding: 4px 8px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--white-background);
    color: var(--white-background);
    background: none;
    border-radius: var(--border-radius);
}

main .centered-section {
    margin: 0 15%;
}

main .portfolio .links-container-new,
main .portfolio .links-container-archived {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 20px;
}

main .portfolio .links-container-archived {
    margin-bottom: 0;
}

/* LVHA */
main .portfolio-link {
    text-decoration: none;
    color: var(--lesser-white-text);
    transition: all .1s;
}

main .portfolio-link:visited {
    color: var(--lesser-white-text);
}

main .portfolio-link:hover {
    color: var(--new-color);
}

main .portfolio-link:active {
    color: var(--new-color);
}

/* archived links */
main .portfolio-link-archived {
    color: var(--muted-text);
    transition: all .1s;
    text-decoration: none;
}

main .portfolio-link-archived:visited {
    color: var(--muted-text);
}


main .portfolio-link-archived:hover {
    color: var(--lesser-white-text);
    transition: all .1s;
    text-decoration: none;
}

main .portfolio-link-archived:active {
    color: var(--lesser-white-text);
}

main .contact input,
main .contact textarea,
main .contact select {
    background: transparent;
    /* color: #FFA86A; */
    color: var(--white-text);
    border: 1px solid var(--gray-text);
    border-radius: 0;
    padding: 10px;
    margin: 5px 0;
    width: 100%;
    font: inherit;
    appearance: none;
    border-radius: var(--border-radius);
    transition: all .8s;
}

main .contact input:focus,
main .contact input :active,
main .contact textarea:focus,
main .contact textarea :active,
main .contact select:focus,
main .contact select :active {
    border-color: var(--white-background);
    outline: 1px solid var(--white-background);
}

main .contact button {
    padding: 5px 10px;
    border: none;
    background: var(--white-background);
    color: var(--black-text);
    font-weight: bold;
    box-sizing: border-box;
    display: block;
    margin: 8px 0;
    cursor: pointer;
    width: 160px;
    font-family: var(--mukta-font);
    font-weight: bold;
    border-radius: var(--border-radius);
    transition: all .2s;
    border: 1px solid var(--white-background);
}

main .contact p {
    font-weight: 700;
    color: var(--gray-text);
}

main .contact button:hover {
    color: var(--highlight-color);
}

footer {
    text-align: center;
    padding: 40px;
    /* padding-top: 25px; */
    font-size: 1rem;
    color: var(--muted-text);
}

/* LVHA */
footer a {
    text-decoration: none;
    color: var(--muted-text);
    transition: all .2s;
}

footer a:visited {
    color: var(--muted-text);
}

footer a:hover {
    color: var(--gray-text);
}

footer a:active {
    color: var(--gray-text);
}

@media (max-width:1753px) {
    main .hero-section {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 1rem;
    }

    main .hero-section img {
        width: 230px;
        height: 230px;
        margin: 0;
    }

    h1 {
        margin-top: .01em;
        margin-bottom: .25em;
        letter-spacing: -1px;
        line-height: 1.5;
    }
}

@media (max-width:1645px) {

    main .centered-section {
        margin: 0 13%;
    }
}

@media (max-width:1556px) {

    main .centered-section {
        margin: 0 10%;
    }
}

@media (max-width:1503px) {
    main .hero-section img {
        width: 230px;
        height: 230px;
        margin: 0;
    }

    h1 {
        margin-top: .01em;
        margin-bottom: .25em;
        letter-spacing: -1px;
        line-height: 1.5;
    }


}

@media (max-width:1449px) {

    main .centered-section {
        margin: 0 8%;
    }
}


@media (max-width:1394px) {


    h1 {
        margin-top: 1em;
        margin-bottom: .5em;
        letter-spacing: -1px;
        line-height: 1.5;
    }

    .navbar .logo-section {
        padding: 1.5rem;
    }

    .navbar .nav-social-links {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: max-content;
        gap: 1rem;
        padding: 5px 10px;
        border-radius: var(--border-radius);
    }

    main .hero-section h1 {
        font-size: 2.1rem;
    }

    main .hero-section h2 {
        font-size: 1.75rem;
    }

    main .contact button {
        width: 100%;
    }

      /* helper class */
      .container {
        max-width: 1450px;
        margin: 0 10%;
    }

    .container-large {
        max-width: 1450px;
        margin: 0 10%;
    }

}

@media (max-width:1040px) {

    .navbar {
        display: flex;
        flex-direction: column;
    }

    main .centered-section {
        margin: 0 5%;
    }

}

@media (max-width:920px) {
    .navbar {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width:620px) {
    body {
        font-size: 1.2rem;
    }

    main .portfolio p {
        font-size: 1.2rem;
    }
}

@media (max-width:610px) {

    main .hero-section h2 {
        font-size: 1.25rem;
    }

}

@media (max-width:540px) {

    main .portfolio .links-container-new,
    main .portfolio .links-container-archived {
        display: block;
    }

    main .portfolio .links-container-new li,
    main .portfolio .links-container-archived li {
        margin-bottom: 1.01rem;
    }

    main .portfolio .links-container-new a {
        margin-bottom: 1.01rem;
        color: #10b981;
    }

    main h2 {
        font-size: 1rem;
    }

    main .centered-section {
        margin: 0 10%;
    }

    /* helper class */
    .container {
        max-width: 1450px;
        margin: 0 5%;
    }

    .container-large {
        max-width: 1450px;
        margin: 0 5%;
    }
}

@media (max-width:495px) {
    header .nav-social-links span {
        display: none;
    }

    header .nav-social-links .fa-message {
        display: none;
    }

    main .hero-section h1 {
        font-size: 1.35rem;
        letter-spacing: -1px;
        line-height: 1.5;
    }

    main h2 {
        font-size: 1.1rem;
    }

    main .portfolio p {
        display: block;
    }

    main .centered-section {
        margin: 0 5%;
    }

    /* helper class */
    .container {
        max-width: 1450px;
        margin: 0 5%;
    }

    .container-large {
        max-width: 1450px;
        margin: 0 5%;
    }

}

@media (max-width:400px) {
    main .centered-section {
        margin: 0 5%;
    }

    /* helper class */
    .container {
        max-width: 1450px;
        margin: 0 5%;
    }

    .container-large {
        max-width: 1450px;
        margin: 0 5%;
    }
}

@media (max-width:378px) {
    main .hero-section h1 {
        font-size: 1.153rem;
    }

}

@media (max-width:330px) {
    main .centered-section {
        margin: 0 4%;
    }

    /* helper class */
    .container {
        max-width: 1450px;
        margin: 0 4%;
    }

    .container-large {
        max-width: 1450px;
        margin: 0 4%;
    }
}