:root {
    /* texts */
    --white-text: #fdf9fd;
    --black-text: #131313;
    --grayish-text: #333;
    --gray-text: #d4cece;
    --highlight-color: #38bdf8;
    --flavor-color1: #10b981;
    --flavor-color2: #2F81F7;
    --flavor-color2-darker: #3b82f6;

    /* backgrounds */
    --white-background: #fdf9fd;
    --white-background-darker: #4d4d4d;
    --dark-background: #131313;
    --gray-background: #222222;

    /* font-family */
    --play2start-font: "Press Start 2P", sans-serif;
    --inter-font: Inter, sans-serif;

    /* border radius */
    --border-radius: 3px;
}

/* helper class */
.container {
    max-width: 1400px;
    margin: 0 15%;
}

/* font sizes and margins */
h1 {
    font-size: 3rem;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
}

h2 {
    font-size: 2rem;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
}

body {
    font-size: 1.25rem;
}

header .logo-name {
    font-size: 1.125rem;
}

main .portfolio button {
    font-size: 1.125rem;
}

/* --> end */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Inter, sans-serif;
    background-color: var(--dark-background);
    color: var(--white-text);
}

header {
    background-color: var(--dark-background);
}

header nav {
    padding: 1.5em;
}

header .logo-name {
    color: var(--white-text);
    text-decoration: none;
}

header .logo-greater-than {
    font-size: .83rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

header .logo-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .2rem;
}

header .logo-cursor {
    display: inline-block;
    width: 10px;
    height: 1.25em;
    background: var(--highlight-color);
    margin-left: 5px;
    border-radius: 1px;
    animation: cursor 1.2s infinite;
}

@keyframes cursor {
    50% {
        background-color: transparent;
    }
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--play2start-font);
}

header nav section {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

/* LVHA */
header nav .nav-item {
    text-decoration: none;
    color: var(--white-text);
}

header nav .nav-item:visited {
    color: var(--white-text);
}

header nav .nav-item:hover {
    padding-bottom: 9px;
    border-bottom: 1px solid var(--white-text);
}

/* header nav .nav-item:active {
    
} */

header nav button {
    padding: 5px 15px;
    color: var(--black-text);
    background-color: var(--white-background);
    font-family: var(--inter-font);
    font-size: 1rem;
    cursor: pointer;
    border: none;
    font-weight: bold;
    border-radius: var(--border-radius);
}

header nav button:hover {
    color: var(--flavor-color1);
}

header .nav-social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* LVHA */
header .nav-social-links a {
    font-size: .95rem;
    color: var(--white-text);
    transition: all .2s;
}

header .nav-social-links a:visited {
    font-size: 1.125rem;
    color: var(--white-text);
}

header .nav-social-links a:hover {
    color: var(--gray-text);
}

header .nav-social-links .fa-message {
    display: none;
    font-size: 1.5rem;
}

main .hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    font-family: var(--play2start-font);
    margin: 40px auto;
}

main .hero-section img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border: 1px solid var(--grayish-text);
    /* border-radius: var(--border-radius); */
    /* border-radius: 50%; */
}

main .hero-section h1 span {
    color: var(--flavor-color2);
}

main .fun-facts ul,
main .portfolio ul,
main .contact-section-left-margin {
    list-style: none;
    margin-left: 1rem;
}

main .portfolio p {
    display: inline-block;
}

main .portfolio input {
    display: block;
    margin: 20px 0 0;
    width: 160px;
    box-sizing: border-box;
    padding: 4px 8px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--white-background);
    color: var(--white-background);
    background: none;
    border-radius: var(--border-radius);
}

main .portfolio button {
    padding: 5px 10px;
    border: none;
    background: var(--white-background);
    color: var(--black-text);
    font-weight: bold;
    box-sizing: border-box;
    display: block;
    margin: 8px 0;
    cursor: pointer;
    width: 160px;
    font-family: var(--inter-font);
    font-weight: bold;
    border-radius: var(--border-radius);
}

main .portfolio button:hover {
    color: var(--flavor-color1);
}

/* LVHA */
main .portfolio-link {
    text-decoration: none;
    color: var(--flavor-color2);
}

main .portfolio-link:visited {
    color: var(--flavor-color2-darker);
}

/* main .portfolio-link:hover {
   
} */

/* main .portfolio-link:active {
    
} */

main .centered-section {
    margin: 0 22%;
}

footer {
    text-align: center;
    padding: 40px;
    font-size: 1rem;
}


@media (max-width:1166px) {
    .navbar {
        display: flex;
        flex-direction: column;
    }

    .navbar .logo-section {
        padding: 1.5rem;
    }

    header .nav-social-links .fa-message {
        display: inline-block;
        font-size: 1.5rem;
    }

    header .nav-social-links button {
        display: none;
    }

    .navbar .nav-social-links {
        display: flex;
        align-items: center;
        justify-content:center;
        height: 100%;
        width: max-content;
        gap:10px;
        padding: 5px 10px;
        border-radius: var(--border-radius);
    }

    main .hero-section {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    main .hero-section h1 {
        font-size: 2.5rem;
    }

    main .hero-section h2 {
        font-size: 1.75rem;
    }

    main .hero-section img {
        width: 300px;
        height: 300px;
    }

    main .centered-section {
        margin: 0 5%;
    }
}


@media (max-width:620px) {
    body {
        font-size: 1.1rem;
    }

    main .portfolio p {
        font-size: 1.1rem;
    }
}

@media (max-width:610px) {
    main .hero-section img{
        width: 250px;
        height: 250px;
    }

    main .hero-section h1 {
        font-size: 1.75rem;
    }

    main .hero-section h2 {
        font-size: 1.25rem;
    }

}

@media (max-width:426px) {
    header .nav-social-links span {
        display:none;
    }

    header .nav-social-links .fa-message {
        display: none;
    }

    main .hero-section img{
        width: 180px;
        height: 180px;
    }

    main .hero-section h1 {
        font-size: 1.55rem;
    }

    main .portfolio p {
        display: block;
    }

}