* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  /* border: 1px solid red; */
  width: 100%;
  background-color: white;
  color: black;
  align-self: center;
}

.title {
  font-size: 2rem;
  margin: 1.5rem;
}

.description {
  /* border: 1px solid red; */
  padding: 5px;
  height: 65px;
}

/* REMINDER
- to make the card responsive,
dont set a specific width (eg. 250px) for the img and card.
- make the card and imgs occupy 100% of the grid-container's width! otherwise it wont me responsive
*/

.grid-container {
  display: grid;
  gap: 10px;
  /* https://www.digitalocean.com/community/tutorials/css-align-justify */
  justify-items: center; /* SOMETHING TO LOOK OUT FOR!! center the grid items "different from 'justify-content'"*/
  margin: 0 10%;
  /* APPROACH 1 */
  /* grid-template-columns: repeat(4, 1fr); */

  /* APPROACH 2 */
  /* SHORTER SOLUTION: 
  learn auto-fit/auto-fill: 
  https://www.youtube.com/watch?v=qII5BueXWD4 
  minmax:
  https://www.youtube.com/watch?v=PuhObGdKSDs
  */
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

span {
  font-size: 12px;
}

p {
  font-weight: bold;
}

/* APPROACH 1 */
/* @media (max-width: 1106px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 590px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
} */
