* {
  box-sizing: border-box;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  background-color: white;
  width: 100%;
}

body {
  background-color: #e9dfff;
  font-family: "Open Sans", sans-serif;

}

h1 {
  color: #53319c;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}