.container {
  max-width: 900px;
  background-color: #ffffff;
  width: 100%;
  border-radius: 20px;
  padding: 32px;
  padding-top: 0;
  position: relative;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #e9dfff;
  font-family: "Open Sans", sans-serif;
  padding: 32px;
  color: #2c2c2c;
  /* border: 2px solid red; */
}

header h1 {
  text-align: center;
  color: #53319c;
  font-size: 28px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  font-weight: 700;
  color: #53319c;
  text-transform: uppercase;
  font-size: 15px;
  width: 100%;
  /* border: 2px solid red; */
  padding: 0;
}

main li {
  padding: 16px 0;
}

/* LVHA */
main li a:link {
  text-decoration: none;
  color: #bea1fc;
}

main li a:visited {
  color: #bea1fc;
}

main li a:hover {
  color: #53319c;
}

main li a:active {
  color: #53319c;
}

main li a.active {
  color: #53319c;
}

main .line {
  height: 3px;
  width: 100%;
  background-color: rgb(231, 231, 231);
  position: absolute;
  top: 82px;
  left: 0;
}

main .active {
  position: relative;
}

main .active::before {
  content: "";
  width: 200%;
  height: 4px;
  background-color: #53319c;
  position: absolute;
  bottom: -34px;
  left: -50%;
  z-index: 1;
  border-radius: 2px;
}

main .toggle-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 48px;
}

main .toggle-wrapper img {
  height: 40px;
}

