.container {
  max-width: 900px;
  background-color: #ffffff;
  width: 100%;
  border-radius: 20px;
  padding: 32px;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #e9dfff;
  font-family: "Open Sans", sans-serif;
  padding: 32px;
  color: #2c2c2c;
  /* border: 2px solid red; */
}

header h1 {
  text-align: center;
  color: #53319c;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  font-weight: 700;
  color: #53319c;
  text-transform: uppercase;
  font-size: 15px;
  width: 100%;
  /* border: 2px solid red; */

}

/* LVHA */
main li a:link {
  text-decoration: none;
  color: #bea1fc;
  /* transition: color 300ms ease-in; */
}

main li a:visited {
  color: #bea1fc;
}

main li a:hover {
  color: #53319c;
}

main li a:active {
  color: #53319c;
}

main li a.active {
  color: #53319c;
}

main hr {
  border: 1.5px solid #dddada;
  margin: 20px 0;
}