/* body has a default margins and paddings */
* {
    /* this will remove the margin that 
    prevents the header from taking the whole space */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h1 {
    font-size: 80px;
    font-family: 'Bitter', serif;
    font-weight: 500;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
}

body {
    font-family: 'Mukta', sans-serif;
    color: #333;
    background-color: #863ae8;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fdf9fd;
    height: 100vh;
}

header p {
    text-align: center;
    font-family: 'Mukta', sans-serif;
    border-bottom: 1px solid #fdf9fd;
    padding-bottom: 3rem;
    padding-left: 32px;
    padding-right: 32px;
}

header section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    background-color: #fdf9fd;
    height: 100vh;
}

main p {
    padding-top: 1rem;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1.5px;
}

main span {
    padding-top: 1rem;
    text-align: center;
    font-weight: bold;
    color: #e95400;
}

main h2 {
    text-align: start;
    padding: 32px;
}