/* body has a default margins and paddings */
* {
    /* this will remove the margin that 
    prevents the header from taking the whole space */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Mukta', sans-serif;
    color: #333;
    background-color: #863ae8;
}

h1,
h2,
main p {
    font-family: 'Bitter', serif;
    font-weight: bold;
}

header, 
main {
    padding: 0 25%;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

header {
   
    height: 100vh;
    width: 100%;
}

header h1 {
    margin: 0;
    font-size: 5rem;
    margin-bottom: 35px;
}

header p {
    margin-top: 0;
    border-bottom: 1px solid white;
    padding-bottom: 35px;

}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fdf9fd;
}

main {
    align-items: start;
    background-color: #fdf9fd;
}

main p {
    font-weight: bold;
    text-align: center;
}

main h2 {
    font-size: 3rem;
}

main span {
    color: #e95400;
}