/* ------------------------ */
/* REUSABLE COMPONENTS      */
/* ------------------------ */


/* HELPER CLASSES */

.container {
    max-width: 81.25rem;
    margin: 0 auto;
    padding: 0 var(--spacing-48px);
}

.text-align-center {
    text-align: center;
}

.grid-margin-bottom {
    margin-bottom: var(--spacing-96px);
}

.margin-bottom-md {
    margin-bottom: var(--spacing-48px) !important;
}

.grid--center-v {
    align-items: center;
}

.margin-right-sm {
    margin-right: var(--spacing-16px) !important;
}

/* COMPONENT CLASSES */

.grid {
    display: grid;
    column-gap: var(--spacing-64px);
    row-gap: var(--spacing-96px);
}

.grid--2-cols {
    grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
    grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
    grid-template-columns: repeat(4, 1fr);
}

.subheading {
    display: block;
    font-size: var(--fs-16);
    font-weight: var(--fw-500);
    color: var(--primary-color-darker);
    text-transform: uppercase;
    margin-bottom: var(--spacing-16px);
    letter-spacing: var(--ls-1-75);
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
    font-weight: var(--fw-700);
    letter-spacing: var(--ls--0-5);
    color: var(--text-dark)
}

.heading-primary {
    font-size: var(--fs-52);
    line-height: var(--lh-1-05);
    margin-bottom: var(--spacing-32px);
    /* 24 / 32 / 48 */
}

.heading-secondary {
    font-size: var(--fs-44);
    line-height: var(--lh-1-2);
    margin-bottom: var(--spacing-96px);
}

.heading-tertiary {
    font-size: var(--fs-30);
    line-height: var(--lh-1-2);
    margin-bottom: var(--spacing-32px);
}

.btn:link,
.btn:visited {
    display: inline-block;
    color: var(--bg-white-color);
    font-size: var(--fs-20);
    padding: var(--spacing-16px) var(--spacing-32px);
    border-radius: var(--border-radius-8px);
    text-decoration: none;
    font-weight: var(--fw-500);
}

.btn--full:link,
.btn--full:visited {
    background-color: var(--primary-color);
    transition: all 300ms var(--transition-bezier);
}

.btn--full:hover,
.btn--full:active {
    background-color: var(--primary-color-darker);
}

.btn--outline:link,
.btn--outline:visited {
    background-color: var(--bg-white-color);
    color: var(--text-gray);
    transition: all 300ms var(--transition-bezier);
    font-weight: var(--fw-400);
}

.btn--outline:hover,
.btn--outline:active {
    background-color: var(--bg-primary-color);
    /* trick to add border inside of button */
    box-shadow: inset 0 0 0 3.75px var(--bg-white-color);
}

.link:link, 
.link:visited {
    display: inline-block;
    text-decoration: none;
    color: var(--primary-color);
    padding-bottom: var(--spacing-2px);
    border-bottom: 1px solid currentColor;
    transition: border-bottom 300ms var(--transition-bezier);
}

.link:hover, 
.link:active {
    color: var(--primary-color-darker);
    border-bottom: 1px solid transparent;
}

.list {
    list-style: none;
    /* height: 100%; */
    display: flex;
    gap: var(--spacing-12px);
    flex-direction: column;
}

.list-item {
    display: flex;
    gap: var(--spacing-16px);
    align-items: center;
    font-size: var(--fs-18);
}

.list-icon {
    font-size: var(--fs-30);
    color: var(--primary-color);
}