/* /* ------------------------ */
/* BELOW 1400px (Desktops)              */
/* --------------------------- */
@media only screen and (max-width: 87.5em) {
    .header-container {
        padding: 0 var(--spacing-48px);
    }
}

/* /* ---------------------------- */
/* BELOW 1366px (Laptops) */
/* ------------------------------- */
@media only screen and (max-width: 85.4em) {
    .heading-primary {
        font-size: var(--fs-44);
    }

    .heading-secondary {
        font-size: var(--fs-36);
    }

    .heading-tertiary {
        font-size: var(--fs-24);
    }

    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* /* ---------------------------- */
/* BELOW 1200px (Landscape Mode: Tablets) */
/* ------------------------------- */
@media only screen and (max-width: 75em) {
    html {
        font-size: 93.75%;
    }

    .grid {
        column-gap: var(--spacing-48px);
        row-gap: var(--spacing-80px);
    }

    .hero {
        gap: var(--spacing-48px);
    }
    
}