/* /* ------------------------ */
/* BELOW 1400px (Desktops)              */
/* --------------------------- */
@media only screen and (max-width: 87.5em) {
    .header-container {
        padding: 0 var(--spacing-48px);
    }
}

/* /* ---------------------------- */
/* BELOW 1366px (Laptops) */
/* ------------------------------- */
@media only screen and (max-width: 85.4em) {
    .heading-primary {
        font-size: var(--fs-44);
    }

    .heading-secondary {
        font-size: var(--fs-36);
    }

    .heading-tertiary {
        font-size: var(--fs-24);
    }

    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* /* ---------------------------- */
/* BELOW 1200px (Landscape Mode: Tablets) */
/* ------------------------------- */
@media only screen and (max-width: 75em) {
    html {
        /* 0.625 (scaled down fontsize 10px) - 0.5625 (scaled down fontsize 9px)
        =  0.0625 x 100 = 6.25 differencel;
        100 - 6.25 = 93.75%*/
        font-size: 93.75%;
    }

    .grid {
        column-gap: var(--spacing-48px);
        row-gap: var(--spacing-80px);
    }

    .hero {
        gap: var(--spacing-48px);
    }

    .main-nav-list {
        gap: var(--spacing-32px);
    }

    .testimonial-container {
        padding: var(--spacing-96px) var(--spacing-48px);
    }

}

/* /* ---------------------------- */
/* BELOW 999px (Tablets) */
/* ------------------------------- */
@media only screen and (max-width: 62.43em) {
    html {
        font-size: 87.5%;
    }

    .hero {
        grid-template-columns: 1fr;

    }

    /* .hero-txt-box {
        order: 1;
    }

    .hero-img-box {
        order: 0;
        overflow: hidden;
    } */

    .hero-img {
        width: 65%;
        content: url('./img/hero2.jpg');
        border-radius: var( --border-radius-8px);
        object-fit: cover;
        /* width: 100%; */
        transition: transform 400ms ease;
    }

    .hero-img-box,
    .hero-txt-box {
        text-align: center;
    }

    .delivered-meals {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}