/* ------------------------ */
/* VARIABLES */
/* ------------------------ */
:root {
    /*  01  TYPGRAPHY SYSTEM

    Heading Defaults (px)
    h1 - 32
    h2 - 24
    h3 - 18.72
    h4 - 16
    h5 - 13.28
    h6 - 10.72 

    Font Sizes (px):
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 
    */
    --fs-10: 0.625rem;
    --fs-12: 0.75rem;
    --fs-14: 0.875rem;
    --fs-16: 1rem;
    --fs-18: 1.125rem;
    --fs-20: 1.25rem;
    --fs-24: 1.5rem;
    --fs-30: 1.875rem;
    --fs-36: 2.25rem;
    --fs-44: 2.75rem;
    --fs-52: 3.25rem;
    --fs-62: 3.875rem;
    --fs-74: 4.625rem;
    --fs-86: 5.375rem;
    --fs-98: 6.125rem;

    /* Font Weights:  */

    /* Line Heights: */
    --lh-1-05: 1.05;
    --lh-1-6: 1.05;


    /*--- 02 COLORS */

    /* Primary: */
    --primary-color: #e67e22;
    --primary-color-darker: #cf711f;

    /* Tints: */
    --bg-primary-color: #fdf2e9;
    --bg-white-color: #fff;
    --bg-black-color: #fff;

    /* Shades: */
    /* Accents: */
    /* Greys: */
    --text-light: #fff;
    --text-gray: #444;
    --text-dark: #333;

    /*  05  SHADOWS */

    /*  06  BORDER RADIUS */
    --border-radius: 8px;

    /*  07  WHITE SPACE 

    Spacing System (px):
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 
    */
    --spacing-2px: 0.125rem;
    --spacing-4px: 0.25rem;
    --spacing-8px: 0.5rem;
    --spacing-12px: 0.75rem;
    --spacing-16px: 1rem;
    --spacing-24px: 1.5rem;
    --spacing-32px: 2rem;
    --spacing-48px: 3rem;
    --spacing-64px: 4rem;
    --spacing-80px: 5rem;
    --spacing-96px: 6rem;
    --spacing-128px: 8rem;
}

.container {
    max-width: 81.25rem;
    margin: 0 auto;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    line-height: var(--lh-1-6);
    font-weight: 400;
    color: var(--text-gray);
}

.hero-section {
    background-color: var(--bg-primary-color);
    padding: var(--spacing-96px) 0;
    /* 64 / 80 / 96     */
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-96px);
    align-items: center;

}

.heading-primary {
    font-size: 3.875rem;
    font-weight: 700;
    line-height: 1.05;
    letter-spacing: -0.5px;
    color: var(--text-dark);
    margin-bottom: var(--spacing-32px);
    /* 24 / 32 / 48 */
}

.hero-desc {
    font-size: var(--fs-20);
    /* 18 / 20 / 24 */
    margin-bottom: var(--spacing-48px);
}

.btn:link,
.btn:visited {
    display: inline-block;
    color: var(--bg-white-color);
    font-size: var(--fs-20);
    padding: var(--spacing-16px) var(--spacing-32px);
    border-radius: var(--border-radius);
    text-decoration: none;
    font-weight: bold;
}

.btn--full:link,
.btn--full:visited {
    background-color: var(--primary-color);
    transition: background-color 300ms cubic-bezier(0.215, 0.610, 0.355, 1);
}

.btn--full:hover,
.btn--full:active {
    background-color: var(--primary-color-darker);
}

.btn--outline:link,
.btn--outline:visited {
    background-color: var(--bg-white-color);
    color: var(--text-gray);
    transition: all 300ms cubic-bezier(0.215, 0.610, 0.355, 1);
}

.btn--outline:hover,
.btn--outline:active {
    background-color: var(--bg-color);
    /* trick to add border inside of button */
    box-shadow: inset 0 0 0 3px var(--bg-white-color);
}

.hero-img {
    width: 100%;
}