/* ------------------------ */
/* VARIABLES                */
/* ------------------------ */
:root {
    /*  01  TYPGRAPHY SYSTEM */
    --fs-10: 0.625rem;
    --fs-12: 0.75rem;
    --fs-14: 0.875rem;
    --fs-16: 1rem;
    --fs-18: 1.125rem;
    --fs-20: 1.25rem;
    --fs-24: 1.5rem;
    --fs-30: 1.875rem;
    --fs-36: 2.25rem;
    --fs-44: 2.75rem;
    --fs-52: 3.25rem;
    --fs-62: 3.875rem;
    --fs-74: 4.625rem;
    --fs-86: 5.375rem;
    --fs-98: 6.125rem;

    /* Font Weights:  */
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;

    /* Line Heights: */
    --lh-1-05: 1.05;
    --lh-1-6: 1.6;

    /*  02  COLORS */

    /* Primary: */
    --primary-color: #e67e22;
    --primary-color-darker: #cf711f;

    /* Tints: */
    --bg-primary-color: #fdf2e9;
    --bg-white-color: #fff;
    --bg-black-color: #444;

    /* Shades: */
    /* Accents: */
    /* Greys: */
    --text-light: #fff;
    --text-gray: #444;
    --text-dark: #333;

    /*  05  SHADOWS */

    /*  06  BORDER RADIUS */
    --border-radius: 8px;

    /*  07  WHITE SPACE */
    --spacing-2px: 0.125rem;
    --spacing-4px: 0.25rem;
    --spacing-8px: 0.5rem;
    --spacing-12px: 0.75rem;
    --spacing-16px: 1rem;
    --spacing-24px: 1.5rem;
    --spacing-32px: 2rem;
    --spacing-48px: 3rem;
    --spacing-64px: 4rem;
    --spacing-80px: 5rem;
    --spacing-96px: 6rem;
    --spacing-128px: 8rem;

    /* 08 MISC */
    --transition-bezier: cubic-bezier(0.215, 0.610, 0.355, 1);
}

/* ------------------------ */
/* REUSABLE COMPONENTS      */
/* ------------------------ */

.container {
    max-width: 81.25rem;
    margin: 0 auto;
    padding: 0 var(--spacing-48px);
}

.grid {
    display: grid;
    gap: var(--spacing-96px);
}

.grid--2-cols {
    grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
    grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
    grid-template-columns: repeat(4, 1fr);
}

.margin-right-sm {
    margin-right: var(--spacing-16px) !important;
}

.btn:link,
.btn:visited {
    display: inline-block;
    color: var(--bg-white-color);
    font-size: var(--fs-20);
    padding: var(--spacing-16px) var(--spacing-32px);
    border-radius: var(--border-radius);
    text-decoration: none;
    font-weight: var(--fw-600);
}

.btn--full:link,
.btn--full:visited {
    background-color: var(--primary-color);
    transition: background-color 300ms var(--transition-bezier);
}

.btn--full:hover,
.btn--full:active {
    background-color: var(--primary-color-darker);
}

.btn--outline:link,
.btn--outline:visited {
    background-color: var(--bg-white-color);
    color: var(--text-gray);
    transition: all 300ms var(--transition-bezier);
}

.btn--outline:hover,
.btn--outline:active {
    background-color: var(--bg-primary-color-color);
    /* trick to add border inside of button */
    box-shadow: inset 0 0 0 3px var(--bg-black-color);
}

/* ------------------------ */
/* GENERAL STYLES           */
/* ------------------------ */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
    font-weight: var(--fw-400);
    color: var(--text-gray);
}

p {
    font-size: var(--fs-20);
    /* 18 / 20 / 24 */
    line-height: var(--lh-1-6);
}

/* ------------------------ */
/* HEADER SECTION           */
/* ------------------------ */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-primary-color);

    /* sticky navigation is easier if height is given */
    height: var(--spacing-96px);
    padding: 0 var(--spacing-48px);
}

.logo {
    height: 1.375rem;
}

/* ------------------------ */
/* NAVIGATION SECTION       */
/* ------------------------ */

.main-nav-list {
    list-style: none;
    display: flex;
    gap: var(--spacing-32px);
    align-items: center;
}

.main-nav-link:link,
.main-nav-link:visited {
    display: inline-block;
    text-decoration: none;
    color: var(--text-dark);
    /* not too bold or it takes too much focus */
    font-weight: var(--fw-500);
    font-size: var(--fs-18);
    transition: all 300ms var(--transition-bezier);
}

.main-nav-link:hover,
.main-nav-link:active {
    color: var(--primary-color-darker);
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
    padding: var(--spacing-12px) var(--spacing-24px);
    /* 8 / 12 / 16 / 24 / 32  */
    border-radius: var(--border-radius);
    color: var(--text-light);
    background-color: var(--primary-color);
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
    background-color: var(--primary-color-darker);
}

/* ------------------------ */
/* HERO SECTION             */
/* ------------------------ */

.hero-section {
    background-color: var(--bg-primary-color);
    padding: var(--spacing-48px) 0 var(--spacing-96px) 0;
    /* 64 / 80 / 96     */
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-96px);
    align-items: center;
}

.hero-txt-box span {
    font-weight: var(--fw-600);
}

.heading-primary {
    font-size: 3.875rem;
    font-weight: var(--fw-700);
    line-height: var(--lh-1-05);
    letter-spacing: -0.5px;
    color: var(--text-dark);
    margin-bottom: var(--spacing-32px);
    /* 24 / 32 / 48 */
}

.hero-desc {
    margin-bottom: var(--spacing-48px);
}

.hero-img {
    width: 100%;
}

.delivered-meals {
    display: flex;
    align-items: center;
    gap: var(--spacing-16px);
    margin-top: var(--spacing-80px);
}

.delivered-imgs {
    display: flex;

}

.delivered-imgs img {
    height: var(--spacing-48px);
    width: var(--spacing-48px);
    border-radius: 50%;
    margin-right: calc(var(--spacing-16px) * -1);
    border: 3px solid var(--bg-white-color);
}

.delivered-imgs img:last-of-type {
    margin-right: 0;
}

.delivered-text {
    font-size: var(--fs-18);
    font-weight: var(--fw-600);
    color: var(--text-dark);
}

.delivered-text span {
    color: var(--primary-color-darker);
    font-weight: var(--fw-700);
}

/* ------------------------ */
/* HOW IT WORKS SECTION     */
/* ------------------------ */
.section-how {
    padding: var(--spacing-96px) 0;
    font-weight: 700;
}

