/* Don't change the existing CSS. */

.box {
  background-color: blue;
  padding: 10px;   /* padding not needed to all other boxes. they all share this padding */
}

p {
  color: yellow;
  margin: 0;
  padding: 0;
}

#outer-box {
  background-color: purple;
}

#outer-box>.box>p {
  color: yellow;
}

.inner-box {
  background-color: red;
}

.white-text {
  color: white;
}