body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
  height: 2.5rem;
}

.toggle {
  opacity: 0;
}

.toggle + label {
  position: relative;
  padding-left: 5rem;
  font-weight: bold;
  cursor: pointer;
   /* border: 1px solid red; */
}

.toggle + label::before {
  content: "";
  background-color: #c6d0cc;
  width: 5rem;
  height: 2.5rem;
  border-radius: 1.25rem;
  position: absolute;
  top: -10px;
  left: -10px;
  transition: background-color 300ms ease;
}

.toggle:checked + label::before {
  background-color: #20b776;
}

.toggle + label::after {
  content: "";
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: whitesmoke;
  /* border: 1px solid red; */
  position: absolute;
  top: -0.35rem;
  left: -0.25rem;
  transition: transform 300ms ease;
}

.toggle:checked + label::after {
  transform: translateX(2.21rem);
}