:root {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87);
  background-color: #303846; */
  background-color: rgba(255, 255, 255, 0.87);
  color: #303846;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  text-align: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;
}

h1 {
  font-size: 4.2em;
  line-height: 1.1;

}

ul > li {
  list-style: none;
}

li > p {
  font-weight: bold;
}

.heading {
  color: #108edd;
  font-size: 2.5rem;
}

.heading-challenge {
  font-size: 2rem;
  font-weight: bold;
  /* border-bottom: 2px solid black; */
  font-family: 'Press Start 2P', sans-serif;
}

.clock {
  font-weight: bold;
}