/* theme colors */
:root {
    /* theme colors */
    --primary-color: #047aed;
    --secondary-color: #9bcaf8;
    --dark-color: #040F0F;
    --light-color: #f4f4f4;
    --background-color-white: #FFFFFF;
    --background-color-lesser: #F6F5F8;

    /* text colors */
    --text-white: #FFF;
    --text-black: #3F3F44;
    --text-lesser: #7085a4;

    /* border radius */
    --btn-border-radius: 4px;
    --boder-radius: 6px;

    /* min-width of containers */
    --min-width: 280px;

    /* text sizes */
    --textsize-20px: 1.25rem;
}

/* Change text highlighting color */

::-moz-selection {
    /* Code for Firefox */
    color: var(--text-white);
    background: var(--dark-color);
}

::selection {
    color: var(--text-white);
    background: var(--dark-color);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "BentonSans", "Helvetica Neue", sans-serif;
    color: var(--text-black);
    line-height: 1.5;
    background-color: var(--background-color-lesser);
}

.timeline {
    display: grid;
    grid-template-columns: 1fr 2px 1fr;
    display: grid;
    margin: 0 auto;
    max-width: 750px;
    padding: 25px;
}

.timeline__title {
    margin: 0;
    font-size: 1.14rem;
    font-weight: 500;
    color: var(--primary-color);
}

.timeline__paragraph {
    display: block;
    line-height: 1.5;
    margin-block-start: .5rem;
    margin-block-end: .5rem;
}

.timeline__year {
    color: var(--secondary-color);
    margin-top: 0px;
    display: block;
}

.timeline__component {
    margin: 20px;
    margin-top: 0px;
}

.timeline__component--bg {
    padding: 1.14em;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background: #fff;
    border: 1px solid var(--secondary-color);
}

.timeline__component--bottom {
    margin-bottom: 0;
}

.timeline__date--right {
    text-align: right;
}

.timeline__date--left {
    text-align: left;
}

.timeline__middle {
    position: relative;
    background-color: var(--primary-color);
}

.timeline__point {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 15px;
    height: 15px;
    background-color: var(--primary-color);
    border-radius: 50%;
}

.timeline__point--bottom {
    top: initial;
    /* reset top property back to normal */
    bottom: 0;
}