/* theme colors */
:root{
    /* theme colors */
    --primary-color: #047aed;
    --secondary-color: #0358ab;
    --dark-color: #002240;
    --light-color: #f4f4f4;
    --background-color-white: #FCFFFC;

    /* text colors */
    --text-white: #FFF;
    --text-black: #040F0F;
    --text-lesser: #7085a4;

    /* border radius */
    --btn-border-radius: 4px;
    --boder-radius: 6px;

    /* min-width of containers */
    --min-width: 280px;

    /* text sizes */
    --textsize-20px: 1.25rem;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Fira Sans', sans-serif;
    color: #333;
    line-height: 1.5;
    background-color: var(--primary-color);

    h1,
    h2 {
        font-weight: 300;
        line-height: 1.2;
        margin: 10px 0;
    }

    p {
        margin: 10px 0;
    }

    a {
        text-decoration: none;
        color: #333;
    }

    /* Change text highlighting color */

    ::-moz-selection {
        /* Code for Firefox */
        color: var(--text-white);
        background: var(--error-color);
    }

    ::selection {
        color: var(--text-white);
        background: var(--error-color);
    }

}
.timeline{
    display: grid;
    grid-template-columns: 1fr 3px 1fr;
    display: grid;
    margin: 0 auto;
    max-width: 750px;
    padding: 25px;
    color: var(--text-white);
}