*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fdf9fd;
    font-family: 'Cormorant', serif;
    font-size: 1.4rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    max-width: 1400px;
    margin: 32px 50px;
}

h1 {
    /* border: solid 1px red; */
    font-size: 1.4rem;
    font-weight: 300;
}

.navbar {
    display: flex;
    gap: 2rem;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.2rem;
    margin-bottom: 80px;
}

.navbar ul {
    /* border: solid 1px red; */
    display: flex;
    gap: 1rem;
    list-style: none;
}

/* LINKS : LVHA */
.active {
    border-bottom: solid 2px #444;
}

.navbar a:link {
    color: #444;
    transition: all 0.2s;
    cursor: pointer;
    text-decoration: none;
    padding: 2px;
}

.navbar a:visited {
    color: #444;
}

.navbar a:hover {
    color: #fdf9fd;
    text-decoration: none;
    background-color: black;
}

.navbar a:active {
    color: #444;
}