:root {
    /* texts */
    --white-text:  #fdf9fd;
    --coral-text: #f08e80;

    /* backgrounds */
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Forum', sans-serif;
}

/* Helper class */
.container {
    /* max-width: 900px; */
    margin: 0 auto;
    padding: 0 15%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--coral-text);
    padding: 24px 32px;
    color:  var(--white-text);
    font-family: 'Bitter', serif;
}

.navbar ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

/* --> Font Size */
.navbar p {
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
}

/* LVHA */
.navbar a:link {
    text-decoration: none;
    color:  var(--white-text);
    padding: 5px;
}

.navbar a:visited {
    color:  var(--white-text);
}

.navbar a:hover {
    border-bottom: 1px solid  var(--white-text);
}

.navbar .call-to-action {
    padding: 16px 24px;
    background-color:  var(--white-text);
    color: var(--coral-text);
    border: none;
}

.navbar .call-to-action:hover {
    opacity: .8;
    cursor: pointer;
}

header {
    background-color: var(--coral-text);
    min-height: 90vh;
    display: inline-block;
}

/* --> Font Size */
header .tagline {
    color:  var(--white-text);
    font-size: 4.5rem;
    letter-spacing: 2px;
    padding: 2rem 0;
}

header .hero {
    color:  var(--white-text);
}

header .mission,
header .specialties {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin: 3rem 0;
}

header .mission h2,
header .specialties h2,
header .mission p,
header .specialties .skills {
    margin: 0;
    padding: 0;
}

/* --> Font Sizes */
header .mission h2,
header .specialties h2,
header .mission p  {
    font-size: 2rem;
}

header .specialties .skills {
    list-style: none;
}

header .specialties .skills li {
    font-size: 1.25rem;
    margin: 8px 0;
    margin-top: 4px;
}

header .two-column-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

main {
    background-color:  var(--white-text);
}