* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Forum', sans-serif;
}

/* Helper class */
.container {
    /* max-width: 900px; */
    margin: 0 auto;
    padding: 0 15%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f08e80;
    padding: 24px 32px;
    color: white;
    font-family: 'Bitter', serif;
}

.navbar ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar p {
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
}

/* LVHA */
.navbar a:link {
    text-decoration: none;
    color: white;
    padding: 5px;
}

.navbar a:visited {
    color: white;
}

.navbar a:hover {
    border-bottom: 1px solid white;
}

.navbar .call-to-action {
    padding: 16px 24px;
    background-color: white;
    color: #f08e80;
    border: none;
}

.navbar .call-to-action:hover {
    opacity: .8;
    cursor: pointer;
}

header {
    background-color: #f08e80;
    height: 90vh;
}

header .tagline {
    color: white;
    font-size: 4.5rem;
    letter-spacing: 2px;
}

/* --> FLOAT BASED  CODES <-- */

/* header .mission,
header .specialties {
    font-size: 1.5rem;
}

header .mission h2,
header .specialties h2 {
    width: 50%;
    float: left;
    height: 100%;
}

header .mission p {
    width: 50%;
    float: right;
    margin-top: 19.92px;
}

header .specialties .skills {
    width: 50%;
    float: left;
    padding: 0;
    list-style: none;
    margin-top: 19.92px;
}

header .specialties .skills li {
    width: 50%;
    float: left;
    font-size: 1.25rem;
    margin: 8px 0;
} */

/* --> END <-- */


header .mission,
header .specialties {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

}

header .mission h2,
header .specialties h2,
header .mission p,
header .specialties .skills {
    margin: 0;
    padding: 0;
}

header .specialties .skills {
    list-style: none;
}

header .specialties .skills li {
    margin: 8px 0;
    margin-top: 4px;
}

header .two-column-section {
    display: flex;
    gap: 2rem;
}






















main {
    background-color: white;
}