:root {
    /* texts */
    --white-text: #fdf9fd;
    --coral-text: #f08e80;
    --grayish-text: #333;

    /* backgrounds */
    --cream-background: #FDF0E6;
    --dark-background: #111;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Forum', sans-serif;
}

/* --> Helper class */
.container {
    /* max-width: 900px; */
    margin: 0 auto;
    padding: 0 15%;
}

.two-column-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

/* font sizes */
.fs-1 {
    font-size: 1rem;
}

.fs-1-25 {
    font-size: 1.25rem;
}

.fs-1-5 {
    font-size: 1.5rem;
}

.fs-2 {
    font-size: 2rem;
}

.fs-2-5 {
    font-size: 2.5rem;
}

.fs-3 {
    font-size: 3rem;
}

.fs-3-5 {
    font-size: 3rem;
}

.fs-4 {
    font-size: 4rem;
}

.fs-4-5 {
    font-size: 4.5rem;
}

/* --> End */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--coral-text);
    padding: 24px 32px;
    color: var(--white-text);
    font-family: 'Bitter', serif;
}

.navbar ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

/* --> Font Size */
.navbar p {
    margin: 0;
    font-weight: bold;
}

/* LVHA */
.navbar a:link {
    text-decoration: none;
    color: var(--white-text);
    padding: 5px;
}

.navbar a:visited {
    color: var(--white-text);
}

.navbar a:hover {
    border-bottom: 1px solid var(--white-text);
}

.navbar .call-to-action {
    padding: 16px 24px;
    background-color: var(--white-text);
    color: var(--coral-text);
    border: none;
}

.navbar .call-to-action:hover {
    opacity: .8;
    cursor: pointer;
}

header {
    background-color: var(--coral-text);
    min-height: 90vh;
    display: inline-block;
}

header .tagline {
    color: var(--white-text);
    letter-spacing: 2px;
    padding: 2rem 0;
}

header .hero {
    color: var(--white-text);
}

header .mission,
header .specialties {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin: 3rem 0;
}

header .mission h2,
header .specialties h2,
header .mission p,
header .specialties .skills {
    margin: 0;
    padding: 0;
}

header .specialties .skills {
    list-style: none;
}

header .specialties .skills li {
    margin: 8px 0;
    margin-top: 4px;
}

main .techblog {
    background-color: var(--white-text);
}

main .speaking-events {
    background-color: var(--cream-background);
}

footer {
    text-align: center;
    background-color: var(--dark-background);
    padding: 64px;
    color: var(--white-text);
}

footer img {
    text-align: center;
    width: 2rem;
    margin: 8px;
}