* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Forum', serif;
    color: #fdf9fd;
}

.container {
    margin: 0 auto;
    max-width: 1400px;
    padding: 2.5rem;
}

/*  font sizes  */
header h1 {
    font-size: 4.5rem;
    letter-spacing: 2px;
}

header .specialties {
    font-size: 1.25rem;
}

h2,
header p {
    font-size: 2rem;
}

main h3 {
    font-size: 1.5rem;
}

/*  end  */

h1,
h2 {
    margin-block-start: 0.83rem;
    margin-block-end: 0.83rem;
    padding-top: 32px;
    padding-bottom: 32px;
}

header {
    background-color: #f08e80;
    height: 90vh;
    padding: 24px 32px;
}

header p,
header h1,
header button {
    font-weight: 700;
}

header h1 {
    letter-spacing: 2px;
}

header nav>ul {
    display: flex;
    gap: 1rem;
    list-style: none;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header button {
    padding: 16px 24px;
    border: none;
    color: #f08e80;
    font-family: 'Forum', serif;
    background-color: #fdf9fd;
    font-size: 1rem;
    transition: all 0.25s;
}

header button:hover {
    opacity: 0.8;
    cursor: pointer;
}

/* LHVA */
header a:link {
    color: #fdf9fd;
    padding: 5px;
    text-decoration: none;
    font-size: 1.2rem;
}

header a:hover {
    border-bottom: 2px solid #fdf9fd;
}

header a:visited {
    color: #fdf9fd;
}

header a:active {
    color: #fdf9fd;
}

header article {
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

header article h2,
header article p {
    /* border: 1px solid red; */
    padding: 32px 0;
    font-weight: 300;
    width: 100%;
}

header article h2 {
    /* border: 1px solid red; */
    margin: 0;
    padding: 32px 0;
}

.specialties {
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 32px 0;
    width: 100%;
    font-weight: 300;
}

.specialties ul {
    list-style: none;
    padding-bottom: 5px;
}

.specialties ul li {
    margin-bottom: 20px;
}

main {
    color: #333;
}

.tech {
    background-color: #fdf9fd;
    padding: 24px 32px;
}

.events {
    background-color: #FDF0E6;
    height: 50vh;
    width: 100%;
    padding: 0 32px;
}

.tech .container,
.events .container {
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-top: 60px;
    max-height: 50vh;
}

.events .container {
    /* border: 1px solid red; */
    padding-top: 64px;
    margin-bottom: 0;
    padding-bottom: 0;
    
}

main .container article {
    margin-bottom: 32px;
    /* border: 1px solid red; */
}

main h2,
main h3 {
    /* border: 1px solid red; */
    font-weight: 300;
}

main h2 {
    margin: 0;
    padding: 0;
}

main h3 {
    margin: 8px 0;
}

main h3:first-child {
    margin-top: 0px;
}

main p {
    margin: 8px 0;
}

main time {
    margin-bottom: 32px;
}

footer {
    text-align: center;
    background-color: #111;
    padding: 64px;
}

footer img {
    text-align: center;
    width: 2rem;
    margin: 8px;
}

@media (max-width: 1323px) {

    /*  font sizes  */
    header h1 {
        font-size: 68px;
    }

    header p,
    h2 {
        font-size: 1.75rem;
    }

    main h3 {
        font-size: 1.5rem;
    }

}

@media (max-width: 1267px) {

    /*  font sizes  */
    header h1 {
        font-size: 62px;
    }

    header p,
    h2 {
        font-size: 1.5rem;
    }

}

@media (max-width: 1179px) {

    /*  font sizes  */
    header h1 {
        font-size: 60px;
    }

}

@media (max-width: 861px) {

    /*  font sizes  */
    header h1 {
        font-size: 50px;
    }

}

@media (max-width: 813px) {

    header article {
        /* border: 1px solid red; */
        grid-template-columns: 1fr;
        grid-template-rows: 6.5% .45fr 6.5% .45fr;
    }

    header article h2,
    header article p {
        /* border: 1px solid red; */
        width: 100%;
    }

    header article h2 {
        /* border: 1px solid red; */
        margin: 0;
        padding: 0;
        font-weight: 600;
    }

    header {
        height: 90vh;
    }

    .tech .container,
    .events .container {
        /* border: 1px solid red; */
        max-height: 60vh;
    }

}

@media (max-width: 749px) {

    /*  font sizes  */
    header h1 {
        font-size: 45px;
    }

    header p,
    h2 {
        font-size: 1.25rem;
    }
}

@media (max-width: 664px) {

    .tech .container,
    .events .container {
        /* border: 1px solid red; */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        margin-top: 60px;
        max-height: 70vh;
    }

}

@media (max-width: 563px) {

    header {
        height: 95vh;
    }

    /*  font sizes  */
    header h1 {
        font-size: 40px;
    }

    header p,
    h2 {
        font-size: 1.4rem;
        margin: 0;
    }

    .tech .container,
    .events .container {
        /* border: 1px solid red; */
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 10% repeat(3, .45fr);
        margin-top: 35px;
        padding-bottom: 0;
        max-height: 60vh;
    }

    main h2 {
        font-size: 1.55rem;
        margin-bottom: 8px;
        font-weight: 600;
    }

}

@media (max-width: 563px) {

    /*  font sizes  */
    header h1 {
        font-size: 40px;
    }

}

@media (max-width: 521px) {

    header article p {
        font-size: 1.2rem;
    }

}

@media (max-width: 466px) {

    /*  font sizes  */
    header h1 {
        font-size: 35px;
    }

    header article p {
        font-size: 1.1rem;
    }
    header .specialties {
        font-size: 1.1rem;
    }
    

}
