* {
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins';
}

h1 {
    font-family: 'Playfair Display';
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

header a,
main a{
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    gap: 4.1rem;
    list-style: none;
}

